:root {
  --high: #b70202;
  --medium: #d9dd04;
  --low: #3dee3a;
  --light: #eee;
  --grey: #888;
  --dark: #2e2e54;
  --delete: #fb4d4a;

  --shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'montserrat', sans-serif;
}

.task-nav {
  padding: 1rem 2rem;
  background-color: #860a82;
  color: var(--light);
  text-decoration: none;
  border-radius: 15px;
  border: 2px solid var(--light);
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.greeting-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2e2e54;
  color: #eee;
  height: 20rem;
  width: 30rem;
  border-radius: 15px;
}

input:not([type='radio']):not([type='checkbox']),
button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: initial;
}

body {
  display: block;
  background: var(--light);
  color: var(--dark);
}

section {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5em;
}

.greeting-container h1,
.greeting-container h3 {
  color: #eee;
}

.greeting-container h3 {
  margin: 1rem;
}

h3 {
  color: var(--dark);
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

h4 {
  color: var(--dark);
  font-size: 0.875rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.greeting .title {
  display: flex;
}

.greeting .title input {
  margin-left: 0.5rem;
  flex: 1 1 0%;
  min-width: 0;
}

.greeting .title,
.greeting .title input {
  color: var(--dark);
  font-size: 1.5rem;
  font-weight: 700;
}

.create-task input[type='text'] {
  display: block;
  width: 100%;
  font-size: 1.125rem;
  padding: 1rem 1.5rem;
  color: var(--dark);
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  margin-bottom: 1.5rem;
}

.create-task .options {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  margin-bottom: 1.5rem;
  width: 50%;
}

.create-task .options label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  cursor: pointer;
}

.create-task .options label:hover {
  background-color: var(--grey);
}

input[type='radio'],
input[type='checkbox'] {
  display: none;
}

.bubble {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid var(--high);
}

.bubble.medium {
  border-color: var(--medium);
}
.bubble.low {
  border-color: var(--low);
}

.bubble::after {
  content: '';
  display: block;
  opacity: 0;
  width: 0px;
  height: 0px;
  background-color: #313154;
  border-radius: 50%;
  transition: 0.2s ease-in-out;
}

input:checked ~ .bubble::after {
  width: 10px;
  height: 10px;
  opacity: 1;
}

.create-task .options label div {
  color: var(--dark);
  font-size: 1.125rem;
  margin-top: 1rem;
}

.create-task input[type='submit'] {
  display: block;
  width: 50%;
  font-size: 1.125rem;
  padding: 1rem 1.5rem;
  color: #fff;
  background-color: #860a82;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  margin-bottom: 2rem;
}

.create-task input[type='submit']:hover {
  opacity: 0.75;
}

.task-list .list {
  margin: 1rem 0;
}

.task-list .task-item {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  margin-bottom: 1rem;
}

.task-item label {
  display: block;
  margin-right: 1rem;
  cursor: pointer;
}

.task-item .task-content {
  flex: 1 1 0%;
}

.task-item .task-content input {
  color: var(--dark);
  font-size: 1.125rem;
}

.task-item .actions {
  display: flex;
  align-items: center;
}

.task-item .actions button {
  display: block;
  padding: 0.5rem;
  border-radius: 0.25rem;
  color: #fff;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.task-item .actions button:hover {
  opacity: 0.75;
}

.task-item .actions .edit {
  margin-right: 0.5rem;
  background-color: var(--high);
}

.task-item .actions .delete {
  background-color: var(--delete);
}

.task-item.done .task-content input {
  text-decoration: line-through;
  color: var(--grey);
}
